<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @event.photos %>
</p>

<p>
  <strong>Links to share:</strong>
  <%= @event.links_to_share %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @event.fees %>
</p>

<p>
  <strong>Available:</strong>
  <%= @event.available %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @event.capacity %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.category %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
