<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @userreview.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @userreview.user %>
</p>

<p>
  <strong>Scores:</strong>
  <%= @userreview.scores %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @userreview.comments %>
</p>

<%= link_to 'Edit', edit_userreview_path(@userreview) %> |
<%= link_to 'Back', userreviews_path %>
